[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "==4.1.1"
py-cord = "==2.0.0b7"
dnspython = "*"
typing = "*"
typing-extensions = "*"
pydantic = "*"
requests = "*"
wget = "*"
mongoengine = "==0.24.1"
twisted = "*"

[dev-packages]

[requires]
python_version = "3.10"
